*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: rgb(5,121,121);
    color: white;
    padding-inline: 45px;
}
.navbar-left{
    display: flex;
    align-items: center;
}

.navbar-brand{
    font-size: 1.8rem;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
}

.navbar-link{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-link:hover{
    text-decoration: underline;
}